<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941757793553-5i7kvqlu1n6361metr6df5uftnqrbv72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941757793553-5i7kvqlu1n6361metr6df5uftnqrbv72</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>941757793553-tpo5jsmeso2bhdgf9dvpbjvnf46l3eoj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlw1xPtJPy8w27E57GlJR9z-cp7VZW7HM</string>
	<key>GCM_SENDER_ID</key>
	<string>941757793553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nu.cs5520.fln.friendLoverNothing</string>
	<key>PROJECT_ID</key>
	<string>friend-lover-or-nothing</string>
	<key>STORAGE_BUCKET</key>
	<string>friend-lover-or-nothing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941757793553:ios:c1d8909e0f38f0624c78b0</string>
</dict>
</plist>